.formControl.error input,
.formControl.error textarea {
  border: 2px solid red;
}

.formControl.error span {
  position: absolute;
  color: red;
  padding-left: 10px;
  font-size: 20px;
}

.formControl input {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
}

.formControl input[type='checkbox'] {
  width: auto;
}

.formControl {
  display: inline-block;
}

.formSummaryError {
  border: 2px solid red;
  font-size: 25px;
  color: red;
}
