h3{
    color: mediumspringgreen;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.postsBlock{
    padding: 10px;
}
.posts{
    margin-top: 10px;
}

.button {
  display: block;
  padding: 5px 10px;
  background-color: rgb(172, 13, 13);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}