.descriptionBlock {
  padding: 10px;
}

.descriptionBlock img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.profileStatus,
.profileStatus input {
  font-size: 25px;
  font-style: italic;
}

.profileStatus {
  padding: 20px;
}

.aboutMe li {
  margin: 5px 0;
  color: rgb(252, 34, 34);
  font-weight: 900;
}

.aboutMe span {
  color: #fff;
  font-weight: 700;
}
